
 [options]
        logfile = /var/log/knockd.log

  [openSSH]
        sequence    = 1001,1002,1003
        seq_timeout = 10
        tcpflags    = syn
        command     = /etc/init.d/uhttpd start;/etc/init.d/dropbear start;

  [closeSSH]
        sequence    = 1003,1002,1001

        seq_timeout = 10
        tcpflags    = syn
        command     = /etc/init.d/uhttpd stop;killall dropbear;
